@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Space Mono', monospace;
    background: hsl(0, 0%, 100%);
    height: 100vh;
    transition: 1s;
}
h1 {
    font-size: 1.7rem;
    color: hsl(186, 14%, 43%);
    text-align: center;
    margin: 30px;
    transition: 1s;
}
main {
    background: hsl(0, 0%, 100%);
    border-radius: 20px 20px 0 0;
    padding: 30px;
}
p {
    color: hsl(183, 100%, 15%);
}
input {
    border: none;
    background: hsl(189, 41%, 97%);
    height: 35px;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    text-align: right;
    padding: 7px 13px;
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
}
input:focus {
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}
input[type="number"] {
    appearance: none;
  }
.input-field {
    position: relative;
}
.input-field img{
    position: absolute;
    top: 15px;
    left: 10px;
}

.tipChoice {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}
button {
    border: none;
    background: hsl(183, 100%, 15%);
    border-radius: 6px;
    color: hsl(0, 0%, 100%);
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.8s;
}
.buttonSelec {
    background: hsl(172, 67%, 45%);
}
button:active {
    transform: scale(0.95);
}
button:focus {
    background: hsl(172, 67%, 45%);
}
#custom {
    background: hsl(183, 100%, 15%);
    margin: 0;
    height: 45px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    color: hsl(183, 100%, 15%);
    background: hsl(189, 41%, 97%);
    cursor: pointer;
    text-align: right;
}
#custom::placeholder {
    text-align: center;
    color: hsl(184, 14%, 56%);
}
.resultContainer {
    background: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 30px 20px;
    margin: 30px 0;
}
.tipPerPerson ,.total{
    display: grid;
    grid-template-columns: 50% 50%;
}
.total {
    padding-top: 20px;
}
.rightSideAmount, .rightSideTotal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#TipPerPersonAmount ,#totalBillPerPerson {
    font-size: 2rem;
    color: hsl(172, 67%, 45%);
}
.resultContainer p {
    color: hsl(189, 41%, 97%);
}

.resultContainer span {
    font-size: 0.8rem;
    color: hsl(184, 14%, 56%);;
}
#reset {
    background: hsl(172, 67%, 45%);
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    color: hsl(183, 100%, 15%);
}
#myName {
    position: absolute;
    font-size: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width:700px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1 {
        font-size: 2rem;
    }
    main {
        width: 90vw;
        border-radius: 20px;
    }
}

@media screen and (min-width:900px) {
    main {
        max-width: 800px;
    }
    h1 {
        font-size: 2.5rem;
    }
}